body{
  background-color: white;
  padding: 5px;
}
.App{
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 30%;
  padding: 5px;
  /* right: 50%; */
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, p{
  color: #000000;
  
}
h1{
  font-size: 40px;
  margin: 5px;
  font-weight: 500;
}
.oneCurrencyText{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 28px;

}
.date{
  color: gray;
  margin-bottom: 16px;
  font-size: 18px;
}
.rateText{
  color: #202124;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: normal;
}

.wrapper{
  background: #fff;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius:14px;
  width: 190px;
  margin: 21px 0;

}

input, select{
  color:#333;
  width:90px;
  border: #202124 solid;
  border-radius: 10px;
}
input{
  padding-left: 10px;

}
select{
  padding:15px
}